/*body {
    /*font-family: sans-serif; /*'Roboto',*/ 
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8EFBA;/*#f4f4f4;*/
/*}*/
body {
    background-color: #F8EFBA;
    background-image: url("../image_accuel/acueil_image_fond.jpg");
    /*background-repeat: repeat;*/
    background-attachment: fixed; /* Le fond restera fixe */
    font-family: verdana,sans-serif;
    margin: 0;/*auto;*/
    padding: 0;
    text-align: center;
}
.boxlogobanniere {
    display:block;
    background-color: #00894d;
    background-image: url("../image_accuel/baniere_header.jpg");
    background-size: 100% 200%;
    /*color : white;*/
    margin: 0 auto;
    /*padding: 0px 0px;/*10px 20px;*/
    width: 100%; /*-- 70.4% --*/
    height: 10%;
    text-align: center;
}
.boxLogo {
    display: inline-block;
    width: 15%;
    height: auto;
    margin: .6% 0px auto 0px;
    padding: 0;
    /*text-align: center;*/
}
.imagelogo {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.boxBienvenue {
    display: inline-block;
    width: 67%;
    height: auto;
    vertical-align: top;
    margin-top: 6px;
    margin-right: auto;/*20px;*/
    margin-left: auto;   
}
.texte_accroche {
    text-align : center;
    color : white;
    font-size : 28px;/*35px;*/
    font-weight : bold;
    margin-top : .0%;
    margin-bottom : .8%;
    font-family: Cooper black,sans-serif;
    width: 100%;/*40%;*/
}
.boxbandeinfo {
    width : 40%;
    margin : 0.6% auto;
    background-color : #eb7e11;/*yellow;*/
    font-size: 14px;
    font-weight : bold;
    height : 15%;
    vertical-align : center;
    color : white;/*black;*/
    /*padding: auto 0;*/
    line-height: 20px;
    border-style: solid;
    border-width: 0px 20px 0px 20px; /* 25px top, 10px right, 4px bottom and 35px left */
}
.boxConnexion {
    display: inline-block;
    vertical-align: bottom;
    margin: auto 8px 30px auto;
}
.connexion {
    width: auto;
    text-decoration: none;
    color: white;
    margin-right: 8px;
    margin-left: auto;
    font-weight: bold;
}
.overlay {
    display: block;
    background-color: rgba(0, 0, 0, .0);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
}
.menuPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: #eb7e11;
    color: white;
    width: 100%;
    margin: auto;
}
.logo {
    /*width: 10%;*/
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
}
 nav {
    width: 100%
    
 }
header nav a {
    color: white;
    margin: 0 2%;
    padding: 4px 15px;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: none;/*underline;*/
    background-color: #b8610a;
}
.sectionPrincipal {
    margin: 0 auto;
    padding: 0px 0px;/*10px 20px;*/
    width:83%;
    background-color: white;
    box-shadow: 1px 1px 18px 3px rgb(94, 92, 92);

    
}
.banner {
    background: url('path/to/your/image.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #7fe3bf;/*lightgrey;*/
    margin: 8px 60px 10px 60px;
    height: 40%;
    
}
/*.slider {
    width: 85%;
    height: 20%;
    margin: 0 auto;
}*/
.slideshow-container {

    width: 85%;
    height: 20%;/*8cm;/*40%;*/
    margin: 0 auto;
}
.imageUniqueBanniere {
    width: 100%;
    height: auto;
}
.imageBanniere {
    width: 100;/*14cm;/*100%;*/
     height: auto;
    /*height: 8cm;*/
}
.boxImageUniqueBanniere {
    display: block;
    width: 100%;/*14cm;/*100%;*/
    height: 100%;/*8cm;/*100%;*/
    margin-top: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-bottom: 0cm;
    padding: 0cm
}
.myslides{
    display: block;
    width: 100%;/*14cm;/*100%;*/
    height: 100%;/*8cm;/*100%;*/
    margin-top: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-bottom: 0cm;
    padding: 0cm
}
.banner h1 {
    font-family: verdana,sans-serif,'Dancing Script', cursive;
    font-size: 1.5em;
    margin: 0;
    color: #eb7e11;/*#D35400;*/
}

.fade{
    animation-name:fade;
    animation-duration:1.5s;
}

@keyframes fade{

    from {opacity: 0.4;}
    to {opacity: 1;}
}

/*============== SOUS-SECTION ===============================================*/

.sous-section1 {
    display: block;
    /*margin: 0 auto;*/
    margin: 10px 60px 10px 60px;
    padding: 0px 0px;/*10px 20px;*/
    /*width:83%;*/
    /*height: 40%;*/
    /*background-color: antiquewhite;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;*/
}

.rubrique, .aProposDuSite {
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
}
.rubrique h2, .aProposDuSite h2, .boxConnexion h2, .BoxCommentCamarche h2 {
    font-family: Cooper Black, 'Dancing Script', cursive;
    font-size: 2em;
    color: #eb7e11;
    margin: 5px 0px 5px 0px;
}
.aProposDuSite {
    width: 69%;
    height: 80%;
    /*background-color: #fffa96;/*#ffffd9;
    /*border-style: solid;
    /*border-color: #c1751a;*/
    /*border-width: 2px;*/
    margin: 0px 38px 0px 0px;
    text-align: justify;
    padding: 20px;
}
.boxConnexion1 {
    display: inline-block;
    width: 21%;
    height: auto;
    background-color: white;
    /*border-style: solid;
    /*border-color: #c1751a;/*lightgrey;*/
    /*border-width: 1px;*/
    margin: 0px 0px 40px 10px;
    vertical-align: bottom;
}
.imageApropos {
    width: 100%;
    height: auto;
}
.sous-section3 {
    display: block;
    margin: 0 auto;
    margin: 40px 60px 10px 60px;
    padding: 0px 0px;/*10px 20px;*/
    background-image: url("../image_accuel/background_connection2.png");
    width: 89%;
    height: 40%;
    background-size: 100% 100%;
    /*background-color: antiquewhite;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;*/
}
.boxConnexion2 {
    display: inline-block;
    width: 41%;
    /*background: transparent;*/
    /*backdrop-filter: blur(20px);*/
    background-color: rgba(169, 127, 30, .3);/*antiquewhite;*/
    border-style: solid;
    /*border-color: yellow;/*lightgrey;*/
    /*border-width: 28px;*/
    margin: 30px 10px 30px 55%;
    padding: 10px;
    text-align: justify;
    border-radius: 4% / 4%;
    border: 2px solid rgba(255, 255, 255, .7);
    box-shadow: 0px 0px 25px white;
}
.sous-section2 {
    display: block;
    /*margin: 0 auto;*/
    margin: 40px 60px 10px 60px;
    padding: 0px 0px;/*10px 20px;*/
    /*width:83%;*/
    /*height: 40%;*/
    /*background-color: antiquewhite;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;*/
}
/*.BoximageCommentCaMarche {
    display: inline-block;
    width: 13%;
    height: auto;
    background-color: antiquewhite;
    border-style: solid;
    border-color: #c1751a;/*lightgrey;*/
    /*border-width: 1px;
    margin: 0px 20px 0px 10px;
    /*vertical-align: bottom;
}*/
/*.imageCommentCaMarche {
    width: 80%;
    height: auto;
}*/
.BoxCommentCamarche {
    display: inline-block;
    width: 96%;
    height: auto;
    background-color: #fffabe;/*#fffa96;/*#ffffd9;*/
    /*border-style: solid;
    border-color: #c1751a;
    border-width: 1px;*/
    margin: 0px 0px 0px 0px;
    text-align: justify;
    padding: 20px;
}

/*=================== FOOTER ===================================================*/

footer {
    display: block;
    width: 100%;
    /*height: 15%;*/
    margin: 0 auto;
    background-color: #00894d;
    /*box-shadow: 1px 1px 18px 3px rgb(94, 92, 92);*/

}
.footer {
    display: block;
    /*justify-content: space-between;*/
    align-items: center;
    
    color: white;
    /*text-align: center;*/
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    /*height: 20%;*/
    /*border: 1px solid yellow;*/
}
.boxFooter {
    display: inline-block;
}
.contactezNous, .lienUtiles, .mentionsLegales {
    display: inline-block;
    /*width: 240px;*/
    /*border: 1px solid white;*/
    margin: 30px 0px 20px 0px;
    vertical-align: top;
}
.contactezNous {
    width: 250px;
}
.lienUtiles {
    width: 230px;
}
.mentionsLegales {
    width: 200px;
}
.sousTitreFooter {
    background-color: #eb7e11;
    padding: 8px;
    margin: 10px auto;
    border-radius: 9% / 45%;
    width: 160px;
}
.footerItem {
    color: white;
    text-decoration: none;
    margin: 28px 10px;
    height: 20%;
    text-align: left;
}
.footerItem a {
    text-decoration: none;
    color: white;
}
.boxLogoFooter {
    display: inline-block;
    width: 340px;
    height: 120%;
    /*border: 1px solid white;*/
    margin: 10px 10px 20px 10px;
    vertical-align: top;
}
.imagelogoFooter {
    width: 120%;
    height: 100%;
    object-fit: cover;
    padding-top: 0px;

}