/*body {
    /*font-family: sans-serif; /*'Roboto',*/ 
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8EFBA;/*#f4f4f4;*/
/*}*/
/*============= CODES COULEURS HEX ============================================*/
/*Couleur marron: #4e2614 */
/*Couleur jaune: #ffd700 */


/*================================================================================================================*/
/*================== BODY ========================================================================================*/
body {
    background-image: url("../image_accuel/acueil_image_fond_ecran1.jpg");
    background-color: #F8EFBA;
    
    /*background-repeat: repeat;*/
    background-attachment: fixed; /* Le fond restera fixe */
    font-family: verdana,sans-serif;
    margin: 0;/*auto;*/
    padding: 0;
    text-align: center;
    height: auto;
}

.sectionPrincipal {
    margin: 0 8%;
    padding: 0px 0px;/*10px 20px;*/
    /*width:83%;*/
    background-color: white;
    box-shadow: 1px 1px 18px 3px rgb(94, 92, 92);
}
/*=============== HEADER ========================================================================================*/
/*---------------- LOGO ET BOUTON CONNEXION -------------------------------------------------------------*/
.boxlogobanniere {
    display:block;
    background-color: #ffd700;/*#ffe700;*/
    /*background-image: url("../image_accuel/baniere_header.jpg");*/
    background-size: 100%;
    /*color : white;*/
    margin: 0 auto;
    /*padding: 0px 0px;/*10px 20px;*/
    width: 100%; /*-- 70.4% --*/
    /*height: 10%;*/
    text-align: center;
}
.boxLogo {
    display: inline-block;
    width: 150px;/*15%;*/
    height: auto;
    margin: .6% 65% auto 1%;/*.6% 68% auto 1px;*/
    padding: 0;
    /*text-align: center;*/
}
.imagelogo {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.boxLienConnexion {
    display: inline-block;
    width: 100px;/*9%;/*100px;*/
    vertical-align: bottom;
    margin: auto 4% 20px 0%;/*auto 4% 30px auto;*/
    padding: 5px;
    background-color: #4e2614;
    border-radius: 9% / 45%;
}
.boxLienConnexion:hover {
    box-shadow: 5px 10px 10px white;
}
.connexion {
    width: auto;
    text-decoration: none;
    color: white;
    /*margin-right: 8px;*/
    margin: auto;
    font-weight: bold;
    /*background-color: #ffd700;
    border-radius: 9% / 45%;*/
}
.connexion:hover {
    color: #ffd700;
}

/*--------------------- MENU PRINCIPAL ------------------------------------------------------------*/
.menuPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: #4e2614;
    color: white;
    width: 100%;
    margin: auto;
}
/*.logo {
    /*width: 10%;*/
    /*margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
}*/
 nav {
    width: 100%
    
 }
header nav a {
    color: white;
    margin: 0 2%;
    padding: 4px 15px;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: none;/*underline;*/
    background-color: #ffd700;/*#b8610a;*/
}
/*==================== SLIDER - IMAGES BANNIERE ================================================================*/
.banner {
    display: block;
    background: url('path/to/your/image.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 0;/*10px 20px;*/
    /*border-style: solid;
    border-width: 2px;
    border-color: #7fe3bf;/*lightgrey;*/
    margin: 8px 60px 10px 60px;
    /*height: 45%;*/
    background-color: #4e2614;
    
}
.slideshow-container {

    width: 100%;/*85%;*/
    /*height: 100%;/*20%;/*8cm;/*40%;*/
    /*margin: 0px;*/
    background-color: #4e2614;
}
/*.imageUniqueBanniere {
    width: 100%;
    height: auto;
}*/
.imageBanniere {
    width: 100%;/*14cm;/*100%;*/
     height: auto;/*100%;
    /*height: 8cm;*/
    /*padding: 0px;*/

    object-fit: cover;
}
/*.boxImageUniqueBanniere {
    display: block;
    width: 100%;/*14cm;/*100%;*/
    /*height: 100%;/*8cm;/*100%;*/
    /*margin-top: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-bottom: 0cm;
    padding: 0cm
}*/
.myslides{
    display: block;
    width: 100%;/*14cm;/*100%;*/
    height: 100%;/*8cm;/*100%;*/
    margin-top: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-bottom: 0cm;
    padding: 0cm
}
.numbers {
    display: none;
}
.banner h1 {
    font-family: verdana,sans-serif,'Dancing Script', cursive;
    font-size: 1.5em;
    margin: 10px 0px 10px 0px ;
    color: yellow;/*#D35400;*/
    background-color: #4e2614;
    padding-bottom: 10px;
}

.fade{
    animation-name:fade;
    animation-duration:1.5s;
}

@keyframes fade{

    from {opacity: 0.4;}
    to {opacity: 1;}
}

/*============== SOUS-SECTIONS ===================================================================================*/

.sous-section1, .sous-section2, .sous-section3, .sousSectionTemoignages {
    display: block;
    margin: 40px 5.3% 10px 5.3%;/*10px 5.3% 10px 5.3%;*/
    padding: 0px 0px;
}

.titreTemoignages, .aProposDuSite {
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
}
.titreTemoignages h2, .aProposDuSite h2, .boxConnexion h2, .BoxCommentCamarche h2 {
    font-family: Cooper Black, 'Dancing Script', cursive;
    font-size: 2em;
    color: #4e2614;/*#eb7e11;*/
    margin: 5px 0px 5px 0px;
}

/*--------------------- SOUS-SECTION A PROPOS DE ART' HELP ---------------------------------------------------*/

.aProposDuSite {
    width: 69%;
    height: 80%;
    /*background-color: #fffa96;/*#ffffd9;
    /*border-style: solid;
    /*border-color: #c1751a;*/
    /*border-width: 2px;*/
    margin: 0px 38px 0px 0px;
    text-align: justify;
    padding: 0px;
}
.boxImageApropos {
    display: inline-block;
    width: 21%;
    height: auto;
    background-color: white;
    /*border-style: solid;
    /*border-color: #c1751a;/*lightgrey;*/
    /*border-width: 1px;*/
    margin: 0px 0px 20px 10px;
    vertical-align: bottom;
}
.imageApropos {
    width: 100%;
    height: auto;
}

/*--------------------- SOUS-SECTION COMMENT CA MARCHE -------------------------------------------*/

.sous-section2 {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffb7;
}
.BoxCommentCamarche {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #ffffb7;/*#fffabe;/*#fffa96;/*#ffffd9;*/
    /*border-style: solid;
    border-color: #c1751a;
    border-width: 1px;*/
    margin: 0px auto 0px auto;
    text-align: justify;
    padding: 0px 0px;
}

/*--------------------- SOUS-SECTION CONNEXION ---------------------------------------------------*/

.sous-section3 {
    display: flex;
    /*margin: 0 auto;*/
    /*margin: 40px auto 10px auto;*/ 
    /*padding: 0px 0px;/*10px 20px;*/
    background-image: url("../image_accuel/background_connection3_2.png");
    width: 89.4%;
    height: 50%;
    background-size: 100%;
    /*background-color: antiquewhite;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;*/
}
/*---------INDICATIONS CONNEXION / INSCRIPTION ------------*/
.IndicationsConnexionIncription {
    /*display: inline-block;*/
    width: 44%;
    height: 48%;/*350px;*/
    margin: 10px 1% 20px 1%;
    padding: 20px 10px 10px 10px;
}
.IndicationsConnexionIncription ul {
    width: 95%;
    height: 250px;
    color: white;
    vertical-align: top;
    /*background-color: grey;*/
    margin-bottom: 0%;
    text-align: justify;
    padding: 40px 20px 20px 20px;
}
.IndicationsConnexionIncription .indication {
    width: 90%;
    height: 40px;
    margin: 25px 5px 10px 5px;
}
.IndicationsConnexionIncription a {
    color: #ffc300;/*#4e2614;/*#ffd700;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.IndicationsConnexionIncription a:hover {
    text-decoration: underline;
}

/*--------- CONNEXION --------------------------------------*/
.boxConnexion {
    /*display: inline-block;*/
    width: 44%;
    height: 48%;/*350px;*/
    /*background: transparent;*/
    /*backdrop-filter: blur(20px);*/
    /*background-color: rgba(169, 127, 30, .0);/*antiquewhite;*/
    border-style: solid;
    border-color: white;/*lightgrey;*/
    border-width: 2px;
    margin: 20px 1% 20px 1%;/*55%;*/
    padding: 20px;
    text-align: justify;
    /*border-radius: 4% / 4%;*/
    /*border: 2px solid rgba(255, 255, 255, .7);*/
    /*box-shadow: 0px 0px 25px white;*/
}
.boxConnexion h2 {
    /*background-color: #4e2614;*/
    color: #ffd700;
    text-align: center;
}
.boxConnexion .input-box {
    position: relative;
    width: 100%;
    height: 40px;
    /*background-color: salmon;*/
    margin: 30px 0;
}
.input-box input {
    width: 84%;/*83%;/*340px;/*100%;*/
    height: 100%;
    background-color: white;
    border: none;
    outline: none;
    border: 2px solid rgba(78, 38, 20, .9);
    border-radius: 40px;
    font-size: 17px;
    /*padding: 20px 45x 20px 20px;*/
    padding-left: 4%;/*20px;*/
    padding-right: 10%;/*45px;*/
}
.input-box input::placeholder {
    color: gray;
}
.input-box i {
    position: absolute;
    right: 10px;
    top: 20%;
    transform: translateY(20%);
    font-size: 20px;
}
.boxConnexion .seSouvenir_passeOublie {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 25px;
    color: #fff;
}
/*.seSouvenir_passeOublie label input {
    color: #fff;
    margin: 3px;
}*/
.seSouvenir_passeOublie a {
    color: #ffc300;/*#4e2614;/*#ffd700;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.seSouvenir_passeOublie a:hover {
    text-decoration: underline;
}
.boxConnexion .boutonSeConnecter {
    width: 60%;
    height: 45px;
    background-color: #ffd700;
    border: none;
    outline: none;
    border-radius: 40px;
    color: #4e2614;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 20px;
}
.boxConnexion .boutonSeConnecter:hover {
    cursor: pointer;
}
.boxConnexion .lienInscription {
    font-size: 14.5px;
    color: #fff;
}
.lienInscription a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.lienInscription a:hover {
    text-decoration: underline;
}

/*--------------------- SOUS-SECTION TEMOIGNAGES ---------------------------------------------------*/
.titreTemoignages {
    width: 100%;
    padding: 0;
    /*margin-bottom: 20px;*/
    background-color: #ffd700;
    border: 1px solid rgba(255, 255, 255, .9);
    /*border-style: solid;
    /*border-bottom: 1px;*/

    border-top-color: #4e2614;/*#bc982d;*/
    border-top-width: 2px;

    border-left-width: 0px;
    
    border-bottom-color: #4e2614;/*#bc982d;*/
    border-bottom-width: 2px;
    border-right-color: #bc982d;
    border-right-width: 0px;
}
.boxTemoignages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(255, 255, 155, .7);
    background-color: #ffd700;/*#fcffa2;/*#fcffd0;/*#ffffb7;/*#4e2614;/*#ffd700;*/

    /*backdrop-filter: blur(10px);*/

    border-bottom-color: #4e2614;/*#bc982d;*/
    border-bottom-width: 2px;

    margin-bottom: 40px;
}
.boxTexteTemoignage {
    width: 32%;/*320px;*/
    height: 300px;
    margin: 20px 1%;/*20px 20px;*/
    border-radius: 5% / 4%;
    /*box-shadow: 3px 0px 5px white;*/
    padding: auto;

    /*background-color: lightgrey;*/
    /*background: transparent;*/
    /*backdrop-filter: blur(20px);*/
    background-color: rgba(252, 255, 255, .4);
    border: 1px solid rgba(255, 255, 255, .9);
    border-style: solid;
    /*border-bottom: 1px;*/

    border-top-width: 1px;
    border-left-width: 1px;
    
    border-bottom-color: #bc982d;
    border-bottom-width: 2px;
    border-right-color: #bc982d;
    border-right-width: 2px;
}
.temoignage {
    width: 87%;/*270px;*/
    height: 260px;
    margin: 10px auto;
    background-color: rgba(252, 255, 255, .9);
    /*background-color: white;*/
    border-radius: 5% / 4%;
    /*font-size: 12px;*/
    /*text-align: justify;*/
    padding: 10px;
}
.auteurTemoignage {
    text-align: center;
}
.texteTemoignage {
    text-align: justify;
}

/*=================== FOOTER ===================================================*/

footer {
    display: block;
    width: 100%;
    /*height: 15%;*/
    margin: 0 auto;
    background-color: #4e2614;
    /*box-shadow: 1px 1px 18px 3px rgb(94, 92, 92);*/

}
.footer {
    display: block;
    /*justify-content: space-between;*/
    align-items: center;
    
    color: white;
    /*text-align: center;*/
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    /*height: 20%;*/
    /*border: 1px solid yellow;*/
}
.boxFooter {
    display: block;
}
.contactezNous, .lienUtiles, .mentionsLegales {
    display: inline-block;
    /*width: 240px;*/
    /*border: 1px solid white;*/
    margin: 30px 0px 20px 0px;
    vertical-align: top;
}
.contactezNous {
    width: 250px;
}
.lienUtiles {
    width: 230px;
}
.mentionsLegales {
    width: 200px;
}
.sousTitreFooter {
    background-color: #ffd700;
    padding: 8px;
    margin: 10px auto;
    border-radius: 9% / 45%;
    width: 160px;
}
.footerItem {
    color: white;
    text-decoration: none;
    margin: 28px 10px;
    height: 20%;
    text-align: left;
}
.footerItem a {
    text-decoration: none;
    color: white;
}
.boxLogoFooter {
    display: inline-block;
    width: 250px;
    height: 100%;
    /*border: 1px solid white;*/
    margin: 10px 10px 20px 10px;
    vertical-align: top;
}
.imagelogoFooter {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 0px;

}

@media only screen and (max-width: 1053px) {
    .sectionPrincipal {
        margin: 0 3%;
        padding: 0px 0px;/*10px 20px;*/
    }
    /*================ HEADER - SUITE RESPONSIVE DESKTOP =====================================================*/
    .boxLogo {
        margin: .6% 50% auto 1%;/*.6% 68% auto 1px;*/
    }
    .boxLienConnexion {
        padding: 4px;
    }
    /*-------------------- SLIDER - IMAGES BANNIERE -----------------------------------------------------------*/
    .banner {
        margin: 8px 30px 10px 30px;
    }
    /*-------------- SOUS-SECTIONS ----------------------------------------------------------------------------*/
    .sous-section1, .sous-section2, .sous-section3, .sousSectionTemoignages {
        /*display: block;*/
        margin: 40px 30px 10px 30px;/*10px 5.3% 10px 5.3%;*/
        /*padding: 0px 0px;*/
    }
    /*-------- SOUS-SECTION 1 - A PROPOS DE ART'HELP ----------*/
    .boxImageApropos {
    display: inline-block;
    width: 21%;
    height: auto;
    background-color: white;
    /*border-style: solid;
    /*border-color: #c1751a;/*lightgrey;*/
    /*border-width: 1px;*/
    margin: 150px 0px 40px 10px;
    vertical-align: top;
    /*-----------------------------------------------------------------*/
    .BoxCommentCamarche {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    }/*---------------------------------------------------------------*/
    .sous-section3 {
    /*display: flex;*/
    /*margin: 0 auto;*/
    margin: 40px auto 10px auto; 
    /*padding: 0px 0px;/*10px 20px;*/
    /*background-image: url("../image_accuel/background_connection3.png");*/
    width: 94%;
    /*height: 48%;*/
    /*background-size: 100%;
    /*background-color: antiquewhite;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;*/
}
    /*---------INDICATIONS CONNEXION / INSCRIPTION ------------*/
    .IndicationsConnexionIncription {
         font-size: 14px;
    }
    .IndicationsConnexionIncription a {
        /*color: #ffc300;/*#4e2614;/*#ffd700;*/
        /*text-decoration: none;*/
        /*font-weight: bold;*/
        font-size: 14px;
    }
    /*--------- CONNEXION --------------------------------------*/
    .boxConnexion {
         font-size: 14px;
    }
    .boxConnexion input {
        font-size: 14px;
    }
    .seSouvenir_passeOublie label {
        width: 100px;
        font-size: 13px;
        color: #fff;
        text-align: left;
        margin: 3px;
    }
    .seSouvenir_passeOublie a {
        display: none;
        font-size: 13px;
        margin-top: 5px;
    }
    .lienInscription a {
        font-size: 13px;
    }
    /*.boxConnexion .boutonSeConnecter {
    margin-left: 20%;
    margin-bottom: 10px;
    }*/
    .boxConnexion .seSouvenir_passeOublie {
        /*display: flex;
        justify-content: space-between;
        font-size: 14.5px;*/
        /*margin: 10px 15px;*/
        color: #fff;
    }
    .lienInscription {
        display: none;
    }
    /*---------TEMOIGNAGES ------------*/
    .auteurTemoignage {
        font-size: 13px;
    }
    .texteTemoignage {
        font-size: 13px;
        text-align: justify;
    }
}

/*==============================================================================================================*/
/*==============================================================================================================*/
/*=================== STYLES POUR TELEPHONE --- RESPONSIVE FOR MOBILE ==========================================*/
@media only screen and (max-width: 768px) {
        .sectionPrincipal {
        margin: 0 2%;
        padding: 0px 0px;/*10px 20px;*/
        /*width:97%;*/
        /*background-color: white;*/
        /*box-shadow: 1px 1px 18px 3px rgb(94, 92, 92);*/
    }
    /*=============== HEADER ========================================================================================*/
    /*---------------- LOGO ET BOUTON CONNEXION -------------------------------------------------------------*/
    .boxlogobanniere {
        margin: 0 auto;
        width: 100%; /*-- 70.4% --*/
    }
    .boxLogo {
        display: inline-block;
        width: 150px;/*15%;*/
        height: auto;
        margin: .6% 40% auto 1%;/*.6% 68% auto 1px;*//*.6% 27% auto 1%;*/
        padding: 0;
        /*text-align: center;*/
    }
    .imagelogo {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    .boxLienConnexion {
        display: inline-block;
        width: 84px;/*100px;*/
        font-size: 14px;
        vertical-align: bottom;
        margin: auto 4% 20px 10%;/*auto 4% 30px auto;*/
        padding: 4px;
        /*background-color: #4e2614;*/
        /*border-radius: 9% / 45%;*/
    }
    /*-------------------- SLIDER - IMAGES BANNIERE -----------------------------------------------------------*/
    .banner {
        margin: 1% 1% 1% 1%;
    }
    .banner h1 {
        /*font-family: verdana,sans-serif,'Dancing Script', cursive;*/
        font-size: 14px;/*1em;*/
        margin: 10px 0px 10px 0px ;
        /*color: yellow;/*#D35400;*/
        /*background-color: #4e2614;*/
        padding-bottom: 10px;
    }
    /*============== SOUS-SECTIONS ===================================================================================*/
    .sous-section1, .sous-section2, .sous-section3, .sousSectionTemoignages {
        display: block;
        margin: 3.5% 1.3% .9% 1.3%;/*40px 5.3% 10px 5.3%;*/
        padding: 0px 0px;
    }
    .titreTemoignages h2, .aProposDuSite h2, .boxConnexion h2, .BoxCommentCamarche h2 {
    font-family: Cooper Black, 'Dancing Script', cursive;
    font-size: 1.5em;
    color: #4e2614;/*#eb7e11;*/
    margin: 5px 0px 5px 0px;
}
    /*--------------------- SOUS-SECTION A PROPOS DE ART' HELP ---------------------------------------------------*/
    .aProposDuSite {
        width: 97%;
        margin: 0px .5% 0px .5%;
        font-size: 15px;
    }
    .boxImageApropos {
        display: none;
    }

    /*--------------------- SOUS-SECTION COMMENT CA MARCHE -------------------------------------------*/

    .sous-section2 {
        background-color: #ffffb7;
    }
    .BoxCommentCamarche {
         width: 97%;
        margin: 0px .5% 0px .5%;
        font-size: 15px;
    }
    /*--------------------- SOUS-SECTION CONNEXION ---------------------------------------------------*/
    .sous-section3 {
        display: flex;
        flex-direction: column;
        background-image: url("../image_accuel/background_connection4.png");
        width: 97%;
        margin: 3.5% auto .9% auto;
        height: 50%;
        background-size: 100%;
        object-fit: fill;
    }
    /*---------INDICATIONS CONNEXION / INSCRIPTION ------------*/
    .IndicationsConnexionIncription {
        display: block;
        width: 97%;
        height: 48%;/*350px;*/
        margin: .9% auto .9% auto;
        padding: .9% .9% .9% .9%;
    }
    .IndicationsConnexionIncription ul {
        width: 95%;
        height: 21.8%;
        color: white;
        vertical-align: top;
        /*background-color: grey;*/
        /*margin-top: 0%;
        margin-bottom: 0%;*/
        margin: 0% auto 0% auto;
        text-align: justify;
        padding: 1.74% 1.22% 1.74% 1.74%;
    }
    .IndicationsConnexionIncription .indication {
        width: 90%;
        height: 40px;
        margin: 0px 5px 10px 5px;
    }
    /*.IndicationsConnexionIncription a {
        color: #ffc300;/*#4e2614;/*#ffd700;*/
        /*text-decoration: none;
        font-weight: bold;
        font-size: 16px;
    }
    .IndicationsConnexionIncription a:hover {
        text-decoration: underline;
    }*/
    /*--------- CONNEXION --------------------------------------*/
    .boxConnexion {
        display: block;
        width: 67%;
        height: 48%;/*350px;*/
        margin: .9% auto .9% auto;
        padding: .9% .9% .9% .9%;
        /*background: transparent;*/
        /*backdrop-filter: blur(20px);*/
        /*background-color: rgba(169, 127, 30, .0);/*antiquewhite;*/
        border-style: solid;
        border-color: white;/*lightgrey;*/
        border-width: 2px;

        /*margin: 20px 1% 20px 1%;/*55%;*/
        /*padding: 20px;*/
        text-align: justify;
        align-items: center;

        /*border-radius: 4% / 4%;*/
        /*border: 2px solid rgba(255, 255, 255, .7);*/
        /*box-shadow: 0px 0px 25px white;*/
    }
    .boxConnexion h2 {
        /*background-color: #4e2614;*/
        color: #ffd700;
        text-align: center;
        font-size: 1.8em;
    }
    .boxConnexion .input-box {
        position: relative;
        width: 100%;
        height: 40px;
        /*background-color: salmon;*/
        margin: 30px 0;
    }
    .input-box input {
        font-size: 14px;
    }
    /*--------------------- SOUS-SECTION TEMOIGNAGES ---------------------------------------------------*/
    .sousSectionTemoignages {
        display: block;
        width: 97%;
        margin: 3.5% auto .9% auto;
        /*height: 50%;*/
        background-size: 100%;
    }
    /*.titreTemoignages {
        width: 100%;
        padding: 0;
        /*margin-bottom: 20px;*/
        /*background-color: #ffd700;
        border: 1px solid rgba(255, 255, 255, .9);
        /*border-style: solid;
        /*border-bottom: 1px;*/

        /*border-top-color: #4e2614;/*#bc982d;*/
        /*border-top-width: 2px;*/

        /*border-left-width: 0px;*/
        
        /*border-bottom-color: #4e2614;/*#bc982d;*/
        /*border-bottom-width: 2px;*/
        /*border-right-color: #bc982d;*/
        /*border-right-width: 0px;*/
    /*}*/
    .boxTemoignages {
        display: flex;
        flex-direction: column;
        /*justify-content: space-between;*/
        align-items: center;
        border: 2px solid rgba(255, 255, 155, .7);
        background-color: #ffd700;/*#fcffa2;/*#fcffd0;/*#ffffb7;/*#4e2614;/*#ffd700;*/

        /*backdrop-filter: blur(10px);*/

        border-bottom-color: #4e2614;/*#bc982d;*/
        border-bottom-width: 2px;

        margin-bottom: 40px;
    }
    .boxTexteTemoignage {
        width: 96%;/*320px;*/
        height: auto;/*180px;*/
        margin: 1% 1% 1% 1%;/*20px 20px;*/
        border-radius: 1% / 4%;
        /*box-shadow: 3px 0px 5px white;*/
        padding: auto;

        /*background-color: lightgrey;*/
        /*background: transparent;*/
        /*backdrop-filter: blur(20px);*/
        background-color: rgba(252, 255, 255, .4);
        border: 1px solid rgba(255, 255, 255, .9);
        border-style: solid;
        /*border-bottom: 1px;*/

        border-top-width: 1px;
        border-left-width: 1px;
        
        border-bottom-color: #bc982d;
        border-bottom-width: 2px;
        border-right-color: #bc982d;
        border-right-width: 2px;
    }
    .temoignage {
        width: 87%;/*270px;*/
        height: auto;/*140px;*/
        margin: 10px auto;
        background-color: rgba(252, 255, 255, .9);
        /*background-color: white;*/
        border-radius: 1% / 4%;
        /*font-size: 12px;*/
        /*text-align: justify;*/
        padding: 10px;
    }

    /*=================== FOOTER ===================================================*/
    .footer {
    /*display: block;
    /*justify-content: space-between;*/
    align-items: center;
    
    /*color: white;*/
    /*text-align: center;*/
    padding: 8px;
    margin: 5px auto 0px auto;
    /*width: 100%;*/
    /*height: 20%;*/
    /*border: 1px solid yellow;*/
}
    .contactezNous, .lienUtiles, .mentionsLegales {
        display: block;
        /*width: 240px;*/
        /*border: 1px solid white;*/
        margin: 5px auto 0px auto;
        vertical-align: top;
    }
    .contactezNous {
        width: 250px;
    }
    .lienUtiles {
        width: 230px;
    }
    .mentionsLegales {
        width: 200px;
        height: 100px;
    }
    .boxLogoFooter {
    display: inline-block;
    width: 240px;
    height: 100%;
    /*border: 1px solid white;*/
    margin: 5px 10px 0px 10px;
    vertical-align: top;
}
.imagelogoFooter {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 0px;

}


}
@media only screen and (max-width: 573px) {
        .boxLogo {
        display: inline-block;
        width: 100px;/*15%;*/
        /*height: auto;*/
        margin: .6% 30% auto 1%;/*.6% 68% auto 1px;*/
        /*padding: 0;*/
        /*text-align: center;*/
    }
    .boxLienConnexion {
        /*display: inline-block;*/
        width: 74px;/*100px;*/
        font-size: 12px;
        vertical-align: bottom;
        margin: auto 4% 10px 10%;/*auto 4% 30px auto;*/
        padding: 4px;
        /*background-color: #4e2614;*/
        /*border-radius: 9% / 45%;*/
    }
    .boxTexteTemoignage {
        width: 96%;/*320px;*/
        height: auto;/*180px;*/
        margin: 1% 1% 1% 1%;/*20px 20px;*/
        border-radius: 4% / 4%;
    }
    .temoignage {
        border-radius: 4% / 4%;
    }
}

@media only screen and (max-width: 440px) {
    .sous-section3 {
        background-image: url("../image_accuel/background_connection4_2.png");
        object-fit: fill;
    }
}

@media only screen and (max-width: 355px) {
    body {
        min-width: 290px;
    }
    .boxLogo {
        display: inline-block;
        width: 100px;/*15%;*/
        /*height: auto;*/
        margin: .6% 23% auto 1%;/*.6% 68% auto 1px;*/
        /*padding: 0;*/
        /*text-align: center;*/
    }
    .boxLienConnexion {
        /*display: inline-block;*/
        width: 25%;/*100px;*/
        font-size: 11px;
        vertical-align: bottom;
        margin: auto 4% 10px 5%;/*auto 4% 30px auto;*/
        padding: 4px;
        /*background-color: #4e2614;*/
        /*border-radius: 9% / 45%;*/
    }
}